/*! Global CSS */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
    --font-sans: ChillRoundF, -apple-system, "Microsoft YaHei", sans-serif;

    --color-primary-50: #edfbff;
    --color-primary-100: #d6f5ff;
    --color-primary-200: #b5efff;
    --color-primary-300: #83e8ff;
    --color-primary-400: #48d8ff;
    --color-primary-500: #1ebcff;
    --color-primary-600: #069fff;
    --color-primary-700: #008cff;
    --color-primary-800: #086ac5;
    --color-primary-900: #0d5b9b;
    --color-primary-950: #0e375d;

    --color-accent-50: #f2f7fd;
    --color-accent-100: #e4edfa;
    --color-accent-200: #c3d9f4;
    --color-accent-300: #8ebaeb;
    --color-accent-400: #5196df;
    --color-accent-500: #2b7acd;
    --color-accent-600: #1c5fad;
    --color-accent-700: #184c8c;
    --color-accent-800: #184174;
    --color-accent-900: #193861;
    --color-accent-950: #112440;

}

body {
    text-autospace: normal;
}

@media (width >= 48rem) {
    .koi-squircle-md {
        border-radius: 1.5rem;
        @supports (corner-shape: squircle) {
            border-radius: 3rem;
            corner-shape: squircle;
        }
    }
}

/* Hack: 改善 kbd 间距不够的问题 */
.prose kbd:has(kbd) {
    padding: 0.5rem;
}

.prose kbd {
    margin: 0 0.125rem;
}

.prose a:hover {
    border-color: var(--color-accent-300);
    background-color: var(--color-accent-100);
}
@media (prefers-color-scheme: dark) {
    .prose a:hover {
        border-color: var(--color-accent-700);
        background-color: var(--color-accent-950);
    }
}
